body{
  height: 1000px;
  font-family: 'Hind Siliguri', sans-serif;}

  #menu{
color: grey;  }

#menu:hover{
  color: green;  }

  #cover{
transition: 0.5s all;  }

#cover:hover{
  transform: scale(1.1);
}
